@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-image: url(/images/menu-background.jpg);
  background-size: cover;
  z-index: 2;
}

footer {
  background-color: #faf8f1;
  z-index: 3;
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-title {
  margin-bottom: 2rem;
}

.menus {
  background-color: #faf8f1;
  text-align: center;
  margin-top: 10rem;
  padding: 5rem 10rem;
}

.menu-link {
  position: relative;
  display: block;
  width: 16rem;
  padding: 1rem 0;
  margin: 1rem;
  text-decoration: none;
  text-align: center;
  border: 2px solid #407075;
}

.menu-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #407075;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
  z-index: 2;
}

.menu-link:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.menu-link:hover {
  color: #fff;
}

.menu {
  position: relative;
  z-index: 3;
  color: #407075;
}

.menu-link:hover .menu {
  color: #fff;
}

.copy-right {
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
}
